<% if model.errors.any? %>
<div class="messages">
  <div class="errors">
    <p>入力に誤りがあります</p>
  </div>
  <div class="error-alert">
    <ul>
      <% model.errors.full_messages.each do |message| %>
      <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
