
<div class="group_name">
  <div class="groupーlist">
    <% current_user.groups.each do |group| %>   
      <div class="group">
        <%# カレンダー機能実装後に下記を編集 %>
        <%= link_to group.group_name, group_schedules_path(group.id), class: "group-name" %>
      </div>
    <% end %>  
  </div>
</div> 