<div class ="wrapper">
  <header class="header">
    <div class="header-left">
      <ul class="lists-left">
        <% if user_signed_in? %>
          <li><%= link_to current_user.name, user_path(current_user), class: "user-name" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% end %>
      </ul>
    </div>
    <div class="header-right">
      <ul class="lists-right">
        <li><%= link_to "グループ作成",'#', class: "new-group" %></li>
        <li><%= link_to "グループ参加",'#', class: "login-group" %></li>
      </ul>
    </div> 
  </header>
</div>