.head_display{
  padding: 20px;
  background-color: white;
}

.groupname{
  font-size: 20px;
  text-decoration: none;
}

.bottom_display{
  display: flex;
  width: 100vw;
  background-color: white;
}

.bottom_display_a{
  display: flex;
}

.left_display{
  margin: 0 20px 40px 20px;
  width: 70vw;
}

.event_title{
  color: #4f4f4f;
  text-decoration: none;
}


.event_title:hover{
  color: #e76c6c;
}

.new_schedule{
  margin-top: 10px; 
  padding: 15px;
  background-color: #f7efcd;
}

.title{
  width: 500px;
  margin: 10px 0;
}

.time_display{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.time{
  width: 170px;
  margin-right: 20px;
}

.all_day{
  margin: 10px 0;
}

.note{
  width: 500px;
  margin: 10px 0;
}

.bottom_display_b{
  background-color: #FFFBE9;;
  margin: 0 5px 20px 0;
  padding: 10px;
}

p{
  font-size: 17px;
  margin-bottom: 15px;
}

.future_event{
  padding: 0 10px;
  margin-top: 3px;
  font-size: 17px;
  display: flex;
}

.author_image{
  margin-right: 7px;
}

.future_event_title{
  color:#7691f3;
  margin-left: 5px;
  text-decoration: none;
  padding-bottom: 5px;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.future_event_title:hover{
  color: #e76c6c;
}

.simple_calendar{
  background-color: white;
  text-decoration: none;
  color: #4f4f4f;
}