.wday-0 {
  background: #ffeaea;
  color: #ff505c;
}

.wday-6 {
  background: #eaf7ff;
  color: #307de9;
}

.calendar-title{
  font-size: 20px;
  margin: 25px;
}

.simple_calendar{
  text-decoration: none;
}

.calendar-heading{
  padding: 13px;
  text-align: center;
}