.show_page{
  display: flex;
  background-color: white;
}

.left_top_top_display{
  display: flex;
}

.left_top_display_a{
  background-color: rgb(231, 168, 162);
}

.left_top_display_b{
  background-color: rgb(96, 146, 190);
}

.left_top_display_btn{
  background-color: rgb(24, 179, 187);
}

.left_top_display_c{
  background-color: rgb(92, 187, 98);
}

.left_top_display_d{
  background-color: rgb(225, 214, 94);
}

.left_top_display_e{
  background-color: rgb(210, 128, 40);
}

.left_bottom_display_a{
  background-color: rgb(206, 166, 243);
}

.left_bottom_display_b{
  background-color: rgb(232, 174, 215);
}

.left_top_bottom_display{
  display: flex;
}

.right_display{
  background-color: #FFFBE9;
}