.show_page{
  display: flex;
  background-color: white;
  height: 100vh;
}

.left_top_top_display{
  display: flex;
  height: 15vh;
}

.left_top_display_a{
  width: 43vw;
  display: flex;
  align-items: center;
}

.title_column{
  padding: 20px;
  font-size: 40px;
  line-height: 1.0;
}

.left_top_display_b{
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_top_display_btn{
  display:flex;
  flex-flow: column;
  align-items: center;
  width: 8vw;
  padding: 15px;
  font-size: 15px;
}

.edit_btn{
  margin-bottom: 15px;
  text-decoration: none;
  padding: 5px;
  width: 5vw;
  color: black;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: #E3CAA5;
}


.edit_btn:hover{
  color: #000000;
  background-color: #b17349;
  border: solid 2px #8e8773;
}

.delete_btn{
  text-decoration: none;
  padding: 5px;
  width: 5vw;
  color: black;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: #E3CAA5;
}

.delete_btn:hover{
  color: #f26161;
  background-color: #e9e3e3;
  border: solid 2px #f54e4e;
}

.left_top_display_c{
  width: 15vw;
  display: block;
  padding-top: 15px;
}

.author_column{
  margin-bottom: 10px;
  font-size: 18px;
}

.user_column{
  font-size: 22px;
}

.left_top_bottom_display{
  display: flex;
  height: 25vh;
  align-items: center;
}

.left_top_display_d{
  width: 28vw;
  border: 1px solid rgb(176, 175, 175);
}

.time_column{
  font-size: 25px;
  color: rgb(176, 175, 175);
  margin: 10px;
  text-decoration:underline;
  text-decoration-color: rgb(246, 183, 183);
}

.time_column_md{
  font-size: 30px;
  margin: 20px;
}

.time_column_hm{
  font-size: 30px;
  margin: 20px;
}

.all_day_column{
  font-size: 30px;
  margin: 20px;
}

.left_top_display_e2{
  width: 28vw;
  border: 1px solid rgb(176, 175, 175);
}


.left_bottom_display_a{
  width: 56vw;
  height: 40vh;
  border: 1px solid rgb(176, 175, 175);
}

.note_column_head{
  font-size: 15px;
  color: rgb(176, 175, 175);
  margin: 10px;
}

.note_column_content{
  font-size: 20px;
  margin-left: 10px;
}

.left_bottom_display_b{
  width: 25vw;
  margin-top: 15px;
}

.return_column{
  font-size: 15px;
  color: rgb(176, 175, 175);
  padding: 10px;
  text-decoration: none;
}

.return_column:hover{
  color: #000000;
}

.right_display{
  background-color: #FFFBE9;
  width: 30vw;
}