<%# 共通部分%>
<%= render "share/header" %>
<%# 共通部分ここまで%>

<div class="mypage">
  <div class="left-contents">
    <p>プロフィール画像を表示</p>
  </div>
  <div class="right-contents">
    <div class="user-name2">
      <p><%= current_user.name %>のマイページ</p>
    </div>
    <div class="user-department">
      <p>部署名：<%= current_user.department_name %></p>
    </div>
    <div class="group_name">
      <p>参加中のグループ</p>
    </div>
  </div>
</div>
