<%# 共通部分%>
<%= render "share/header" %>
<%# 共通部分ここまで%>

<div class="mypage">
  <div class="left-contents">
    <div class="image">
      <p>プロフィール画像を表示</p>
    </div>
    <% if user_signed_in? && current_user %>
    <%= link_to "マイページ編集",edit_user_path(:id), class: "compilation" %>
    <% end %>
  </div>
  <div class="right-contents">
    <div class="user-name2">
      <p><%= current_user.name %>のマイページ</p>
    </div>
    <div class="user-department">
      <p>部署名：<%= current_user.department_name %></p>
    </div>
    <div class="group_name">
      <p>参加中のグループ</p>
    </div>
  </div>
</div>
