<%# 共通部分%>
<%= render "share/header" %>
<%# 共通部分ここまで%>

<div class="main">
  <div class="choose">
    <h1>CHOOSE!! </h1>
  </div>
  <div class="message1">
    <p>グループを作成、またはグループを検索、</p>
  </div>
  <div class="message2">
    <p>もしくは参加済みのグループを選択してください</p>
  </div>
  <ul class="center-display">
    <li><%= link_to "グループを作成する", new_group_path, class: "create-group" %></li>
    <li><%= link_to "グループを検索する", groups_path, class: "join-group" %></li>
  </ul>
  <%# 共通部分%>
  <%= render "share/group-list" %>
  <%# 共通部分ここまで%>
</div>
   
