.show_top{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.g_name{
  font-size: 40px;
  margin-left: 33vw;
}

.show_center{
  text-align: center;
}

.g_note{
  font-size: 20px;
  margin: 20px;
}

.show_center_bottom{
  margin-top: 30px;
}

.to_calendar{
  
  color: #000000;
  background-color: #CEAB93;
  border: solid 2px #8e8773;
  margin: 15px;
  padding: 7px;
  text-decoration: none;
}

.to_calendar:hover{
  color: #000000;
  background-color: #b17349;
  border: solid 2px #8e8773;
}

.withdrawale{
  font-size: 15px;
  color: #000000;
  background-color: #CEAB93;
  border: solid 2px #8e8773;
  padding: 7px;
  margin: 20px;
  text-decoration: none;
}

.withdrawale:hover{
  color: #f26161;
  background-color: #e9e3e3;
  border: solid 2px #f54e4e;
}

.show_bottom{
  display: flex;
  justify-content: space-between;
}

.show_bottom_center{
  text-align: center;
  margin: 60px;
  padding: 10px 60px 10px 60px;
  border: 1px solid black;
  background-color: #fcf8f8;
}

.member_list{
  list-style:none;
  font-size: 20px;
}

.g_member{
  text-decoration: none;
  color: black;
  margin: 10px;
}

.member{
  font-size: 16px;
  margin-bottom: 15px;
}

li{
  display: inline;
}