.group-list{
  text-align:left;
  display: inline-block; 
}

.group{
  text-align: center;
  margin: 20px;
}

.group_name{
  font-size: 25px;
}

.group-name{
  font-size: 20px;
  text-decoration: none;
}

