.header{
  display: flex;
  background-color: #C2B092;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
}

.lists-left{
  display: flex;
  list-style:none;
  align-items: center;
}

.user-name{
  text-decoration: none;
  font-size: 30px;
  color: black;
  margin: 30px 30px;
}

.user-name:hover{
  color:#FFFBE9;
}

.logout{
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 30px 30px;
}

.logout:hover{
  color:#FFFBE9;
}

.lists-right{
  display: flex;
  list-style:none;
  align-items: center;
}


.choice-group{
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 30px 30px;
  padding-bottom: 15px;
}

.choice-group:hover{
  color:#FFFBE9;
}