.header{
  display: flex;
  background-color: rgb(255, 255, 123);
  justify-content: space-between;
  align-items: center
}

.lists-left{
  display: flex;
  list-style:none;
  align-items: center;
}

.user-name{
  text-decoration: none;
  font-size: 30px;
  color: black;
  margin: 30px 30px;
}

.logout{
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 30px 30px;
}

.lists-right{
  display: flex;
  list-style:none;
  align-items: center;
}

.new-group{
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 30px 30px;
}

.login-group{
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 30px 30px;
}

