.mypage{
  display: flex;
}

.left-contents{
  width: 40vw;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.user-name2{
  margin-top: 50px;
  font-size: 40px;
}

.user-department{
  font-size: 20px;
  margin: 40px 0px 40px 0px;
}

.group_name{
  font-size: 25px;
}