.mypage{
  display: flex;
  background-color: #ffff;
}

.left-contents{
  width: 30vw;
  margin-top: 30px;
}

.image{
  display: flex;
  justify-content: center;
}

.mygroup{
  margin: 30px;
  padding: 15px;
  background-color: #FFFBE9;
  overflow: auto; 
}

p{
  display: flex;
  justify-content: center;
}

.compilation{
  display: flex;
  justify-content: center;
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
  margin-top: 30px;
}

.user-name2{
  margin-top: 50px;
  font-size: 30px;
}

.user-department{
  font-size: 20px;
  margin: 40px 0px 40px 0px;
  display: flex;
  justify-content: left;
}

.mycalendar{
  margin: 20px;
  width: 50vw;
}
