.choose{
  display: flex;
  justify-content: center;
}

.message1{
  display: flex;
  justify-content: center;
}

.message2{
  display: flex;
  justify-content: center;
}

.center-display{
  list-style:none;
  margin-bottom: 40px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}

.create-group{
  display: flex;
  justify-content: center;
  margin: 30px 40px 0 0;
  padding: 4px;
  text-decoration: none;
  color: #000000;
  background-color: #96ed9d;
  font-size: 20px;
  border: solid 2px #0db31b;
}

.create-group:hover{
  background-color: #c7c6c6;
  border: solid 2px #000000;
}

.join-group{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 4px;
  text-decoration: none;
  color: #000000;
  background-color: #96ed9d;
  font-size: 20px;
  border: solid 2px #0db31b;
}

.join-group:hover{
  background-color: #c7c6c6;
  border: solid 2px #000000;
}

.created-group{
  display: flex;
  justify-content: center;
  margin: 30px 35px 0 0;
}

.joined-group{
  font-size: 20px;
}

.no-group{
  font-size: 15px;
}
